# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
.coverage.*

# Jupyter
.ipynb_checkpoints/

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Local envs
.env
.venv
ENV/
venv/
